.auth-card {

    width: 410px;
    padding: 50px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #e8f7f3;
    border: 1px solid rgb(0, 0, 0);

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;

        &-image {
            width: 150px;
            margin: 0px 0px 20px 0px;
        }
    }

    &__headline {
        text-align: center;
        margin: 0px 0px 20px 0px;
    }

    &__or {
        width: 100%;
        text-align: center;
        margin: 25px 0 15px 0;

        p {
            position: relative;
            line-height: 100%;
            font-weight: 600;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translate(5%, -50%);
                display: inline-block;
                width: 50%;
                height: 0.5px;
                background-color: black;
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translate(-105%, -50%);
                display: inline-block;
                width: 50%;
                height: 0.5px;
                background-color: black;
            }
        }
    }

    &__socials {
        display: flex;
        align-items: top;
        justify-content: center;
        gap: 10px;

        &-img {
            width: 24px;
        }
    }

    &__acc-box {
        margin: 10px 0px 0px 0px;
        font-size: 14px;
        font-weight: 600;
    }

    &__link {
        margin: 0px 0px 0px 10px;
    }

}