.nutritions {
    height: 100%;
    width: 100%;
    background-color: #f3f6fe;
    border: 1px solid #a5a5a5;
    border-radius: 20px;

    &-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
}