* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html {
	scroll-behavior: smooth;

	&.lock {
		overflow: hidden;
		touch-action: none;
	}
}

html,
body {
	min-width: 100%;
	min-height: 100%;
	font-size: 16px;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button,
a {
	user-select: none;
}

button {
	cursor: pointer;

	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

a {
	text-decoration: none;

	&:visited {
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
	}
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
}

sup {
	color: inherit;
}

.wrapper {
	min-width: 100%;
	min-height: 100vh;
	background-image: url('/images/back-app.jpg');
	background-size: 250px;
}

.link {
	white-space: nowrap;
	position: relative;
	padding: 0px 0px 5px 0px;

	&::after {
		content: '';
		position: absolute;
		height: 2px;
		left: 50%;
		bottom: 0;
		width: 0;
		background-color: #000;
		transition: all 0.3s;
	}

	&:hover::after {
		width: 100%;
		left: 0;
	}
}

$base-color: #77ea7e;
$color-background: #D0F2B1;
$primary-color: #a2ec8e;
$secondary-color: #a2ec8e;