.navbar {
    width: 110px;
    height: 100%;
    background-color: #FFFCF8;

    &-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    &-body {
        width: 100%;
    }

    &-navigation {

        &__item {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            font-size: 14px;
            border-radius: 12px;
            transition: 0.3s ease;
            border-right: 2px solid transparent;
            background-color: rgba(0, 0, 0, 0);

            &_active {
                background-color: #303030;
                transition: 0.3s ease;
            }

            &_hide {
                opacity: 0.5;
            }
        }
    }

    &-icon {
        width: 30px;
        height: 30px;
        margin: 0 20px;
    }
}

.navbar-header {

    &__user {
        &-photo {
            width: 150px;
            height: 150px;
            background-color: grey;
            border-radius: 50%;
        }

        &-name {
            text-align: center;
            font-weight: 600;
            margin: 20px 0px 0px 0px;
        }
    }
}


.navbar-footer {
    width: 80%;

    &__logout {

        display: flex;
        align-items: center;
        justify-content: left;
    }

    &__button {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 16px;
        transition: 0.3s ease;
        background-color: transparent;
        color: black;
    }
}