.widget {

    &-headline {
        text-align: center;
        margin: 25px 0;
    }

    &-flex {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}