.auth {

    &-wrapper {
        width: 100%;
        height: 100%;
        background-image: url('/images/back-app.jpg');
        background-size: 250px;
    }

    &-main {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    &-image {
        width: 150px;
        margin: 0px 0px 20px 0px;
    }
}