.user-data {
    display: flex;
    align-items: flex-start;
    gap: 50px;

    &__photo {
        width: 175px;
        height: 175px;
        background-color: gray;
        border-radius: 40%;
    }

    &__data {
        margin: 20px 0px 0px 0px;

        &-text {
            font-size: 16px;
            display: block;
            line-height: 180%;

            &_bold {
                font-size: 20px;
                font-weight: 600;
            }
        }
    }

    &__about {
        margin: 20px 0px 0px 0px;
        font-weight: 600;
        line-height: 140%;
    }
}